{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard - Restaurant{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Panel Principal</h1>
    <span style="color: #7f8fa6;">Bienvenido, {{ request.user.get_full_name|default:request.user.username }}
    </span>
</div>
<div class="card-grid">
    <div class="card card-green">
        <img src="{% static 'icons/MesasLibres.png' %}" class="card-icon" alt="Mesas libres">
        <p class="card-label">Mesas libres</p>
        <p class="card-number">{{ mesas_libres }}</p>
        <a href="{% url 'plano_mesas' %}" class="card-link">Ver plano →</a>
    </div>
    <div class="card card-red">
        <img src="{% static 'icons/MesasOcupadas.png' %}" class="card-icon" alt="Mesas ocupadas">
        <p class="card-label">Mesas ocupadas</p>
        <p class="card-number">{{ mesas_ocupadas }}</p>
        <a href="{% url 'plano_mesas' %}" class="card-link">Ver plano →</a>
    </div>
    <div class="card card-orange">
        <img src="{% static 'icons/comandaActiva.png' %}" class="card-icon" alt="Comandas activas">
        <p class="card-label">Comandas activas</p>
        <p class="card-number">{{ comandas_activas }}</p>
        <a href="#" class="card-link">Ver pedidos →</a>
    </div>
    <div class="card card-blue">
        <img src="{% static 'icons/Alertastock.png' %}" class="card-icon" alt="Alertas de stock">
        <p class="card-label">Alertas de stock</p>
        <p class="card-number">{{ alertas_stock }}</p>
        <a href="#" class="card-link">Ver inventario →</a>
    </div>
</div>
{% endblock %}
