{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Restaurant{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
<nav class="navbar-top">
    <div class="nav-container">
        <a href="{% url 'dashboard' %}" class="nav-logo">
            <img src="{% static 'icons/logoEmpresa.png' %}" alt="Logo" height="32">
            <span>Restaurant</span>
        </a>
        <button class="nav-toggle" id="navToggle">☰</button>
        <div class="nav-menu" id="navMenu">
            <div class="nav-links">
                <a href="{% url 'dashboard' %}" class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">Dashboard</a> <!-- dashboard nombre de la url del dashboard en core/urls.py -->
                <a href="{% url 'plano_mesas' %}" class="nav-link {% if request.resolver_match.url_name == 'plano_mesas' or request.resolver_match.url_name == 'detalle_mesa' %}active{% endif %}">Mesas</a> <!-- plano_mesas ombre de la url del plano de mesas en mesas/urls.py -->
            <a href="#" class="nav-link">Menú</a>   <!--falta url del menu / vistas-->
                <a href="#" class="nav-link">KDS</a>    <!--falta url del KDS / vistas-->
                <a href="#" class="nav-link">Caja</a>   <!--falta url de caja / vistas-->
            </div>
            <div class="nav-user">
                <span class="nav-username">{{ user.get_full_name|default:user.username }}</span>
                <a href="{% url 'logout' %}" class="nav-logout">Salir</a>
            </div>
        </div>
    </div>
</nav>
    {% endif %}
    <main class="{% block main_class %}container{% endblock %}">
        {% block content %}{% endblock %}   
 </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> <!-- Agrega el script de Bootstrap para funcionalidades interactivas -->
    <script>
        document.getElementById('navToggle').addEventListener('click', function() { <!-- Agrega un evento de clic al botón de menú -->
            document.getElementById('navMenu').classList.toggle('show');    
        });
    </script>
</body>
</html>